{% extends "base.html" %}
{% load mptt_tags static %}

{% block header %}
{% if user.mlmclient.is_valid %}
<!-- Header -->
<div class="container-fluid">
  <div class="header-body">
    <!-- Card stats -->
    <div class="row">
      <div class="col text-light">
        Voici une liste de vos descendants detaill&eacute;e.
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock header %}

{% block content %}
{% if user.mlm_clients %}
<div class="row">
  <div class="col">
    <div class="card shadow border-0">
      <div class="card-header bg-transparent">
        <div class="row align-items-center">
          <!-- <div class="col mb-3">
            {{ user.get_full_name }} ({{ user.mlmclient.client_id }})
          </div> -->
        </div>
        <div>
          <div style="width:100%; height:700px;" id="orgchart"/>
        </div>
          <!-- <ul class="root">
            {% recursetree user.mlmclient.affiliations %}
            <li class="mb-3">
              {{ node.user.get_full_name }} ({{ node.client_id }})
              {% if not node.is_leaf_node %}
                <ul class="children">
                {{ children }}
                </ul>
              {% endif %}
            </li>
            {% endrecursetree %}
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}


{% block extra_js %}
<script type="text/javascript" src="{% static 'js/plugins/orgchart.js' %}"></script>
<script>
var chart = new OrgChart(document.getElementById("orgchart"), {
  template: "olivia",
  enableSearch: false,
  nodeBinding: {
    field_0: "name",
    field_1: "title",
    img_0: "img"
  },
  nodes: [
      {% recursetree user.mlm_clients.first.affiliations %}
        { id: {{ node.id }}, pid: {{ node.parent.id }},
          name: "{{ node.user.get_full_name }}",
          title: "ID : {{ node.client_id }}",
          img: "{% if node.user.profile.avatar %}{{ node.user.profile.avatar.url }}{% else%}{% static 'img/default-user.png' %}{% endif %}" },
        {% if not node.is_leaf_node %}
          {{ children }}
        {% endif %}
      {% endrecursetree %}
      { id: {{ user.mlmclient.id }}, name: "{{ user.get_full_name }}", title: "ID : {{ user.mlmclient.client_id }}", img: "{% if user.profile.avatar %}{{ user.profile.avatar.url }}{% else%}{% static 'img/default-user.png' %}{% endif %}" }
  ]
});
</script>
{% endblock extra_js %}
