{% extends "base.html" %}
{% load i18n humanize %}

{% block header %}

{% endblock %}

{% block content %}
<!-- Table -->
<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header border-0">
        <h3 class="mb-0">{% trans 'Transactions' %}</h3>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">{% trans 'Date' %}</th>
              <th scope="col">{% trans 'Montant' %}</th>
              <th scope="col">{% trans 'Référence' %}</th>
              <th scope="col">{% trans 'Entrée / Sortie' %}</th>
              <th scope="col">{% trans 'Solde Après' %}</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in object_list %}
            <tr>
              <td>
                {{ transaction.created_at }}
              </td>
              <td>
                {{ transaction.amount }}
              </td>
              <td>
                {{ transaction.reference }}
              </td>
              <td>
                {% if transaction.debit_credit == transaction.DEBIT %}
                <span class="badge badge-dot mr-4">
                  <i class="bg-danger"></i> {% trans 'sortie' %}
                </span>
                {% elif transaction.debit_credit == transaction.CREDIT %}
                <span class="badge badge-dot mr-4">
                  <i class="bg-success"></i> {% trans 'entrée' %}
                </span>
                {% endif %}
              </td>
              <td>
                {{ transaction.balance_after }}
              </td>
              <td class="text-right">
                <div class="dropdown">
                  <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" href="#">Details</a>
                    <a class="dropdown-item" href="#">Imprimer</a>
                  </div>
                </div>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6">{% trans 'Pas de transaction ...' %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer py-4">
        <nav aria-label="...">
          <ul class="pagination justify-content-end mb-0">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">
                <i class="fas fa-angle-left"></i>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">
                <i class="fas fa-angle-right"></i>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %}
