{% extends 'email/base.html' %}

{% block content %}

{% autoescape off %}
<p>
Hi {{ user.full_name }},<br><br>

Your account has been created at {{ domain }} with this credentials:<br>
<b>Username </b>: {{ user.username }}<br>
<b>Client ID </b>: {{ user_client.client_id }}<br>
<b>Password </b>: {{ user_password }}<br><br>

Please click on the link below to confirm your registration:<br>

<a href="http://{{ domain }}{% url 'auth:activate-account' uidb64=uid token=token %}">
http://{{ domain }}{% url 'auth:activate-account' uidb64=uid token=token %}
</a>
</p>
{% endautoescape %}

{% endblock content %}
