{% extends "registration/base.html" %}
{% load static widget_tweaks %}

{% block reg_title %}R&eacute;initialisation du Mot de passe{% endblock reg_title %}
{% block reg_message %}Compl&eacute;tez le formulaire pour continuer.{% endblock reg_message %}

{% block content %}
<div class="col-lg-5 col-md-7">
  <div class="card bg-secondary shadow border-0">
    <div class="card-body px-lg-5 py-lg-5">
      {% if validlink %}
        <form action="{% url 'auth:password_reset_confirm' %}">
          {% csrf_token %}
          {% include "libs/bs4_field.html" %}
          <button class="btn btn-primary" type="submit">Changer mot de passe</button>
        </form>
      {% else %}
        <p>
          Le lien de mot de passe est invalide, il peut avoir d&eacute;j&egrave; &eacute;t&eacute; utilis&eacute;.
          S'il vous pla&icirc;t de renvoyer une autre demande en cliquant <a href="{% url 'auth:password_reset' %}">ici</a>.
        </p>
      {% endif %}
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <a href="{% url 'auth:login' %}" class="text-light"><small>Connexion</small></a>
    </div>
    <div class="col-6 text-right">
      <a href="{% url 'auth:register' %}" class="text-light"><small>Cr&eacute;er un compte</small></a>
    </div>
  </div>
</div>
{% endblock content %}
