{% extends "registration/base.html" %}
{% load static widget_tweaks %}

{% block reg_title %}Changement de mot de passe{% endblock reg_title %}
{% block reg_message %}Op&eacute;ration complet&eacute;e.{% endblock reg_message %}

{% block content %}
<div class="col-lg-5 col-md-7">
  <div class="card bg-secondary shadow border-0">
    <div class="card-body px-lg-5 py-lg-5">
      <p class="text-center">
        Votre mot de passe a &eacute;t&eacute; modifi&eacute;.
        Vous pouvez vous <a href="{% url 'auth:login' %}">connecter</a> pour continuer &agrave; b&eacute;n&eacute;ficier de nos services.
      </p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <a href="{% url 'auth:login' %}" class="text-light"><small>Connexion</small></a>
    </div>
    <div class="col-6 text-right">
      <a href="{% url 'auth:register' %}" class="text-light"><small>Cr&eacute;er un compte</small></a>
    </div>
  </div>
</div>
{% endblock content %}
